.first {
/*	min-height: 100vh;*/

	height: 100vh;
	min-height: 660px;
	background-image: url(../../img/first-bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--white-color);

}

.first__container {
	position: relative;
	height: 100%;
	padding-top: 219px;
	padding-bottom: 200px;
}

.first__link {
	/*display: inline-block;*/
	background-color: rgb(28, 46, 61, 0.4);
	/*font-weight: 800;*/
	/*font-size: 11px;*/
	/*letter-spacing: 2px;
	padding: 15px 30px;
	border-radius: 24px;
	text-transform: uppercase;*/
	margin-bottom: 40px;
}

.first__title {
	font-size: 80px;
	font-weight: 700;
	line-height: 84px;
	max-width: 40%;
	margin-bottom: 40px;
}

.first__descr {
	font-family: 'SFCompact', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 16px;
	max-width: 38%;
	margin-bottom: 59px;
}

.first__btn {
	background-color: var(--accent-color);
	position: relative;
	z-index: 5;
	transition: background-color 0.3s;
}

.first__btn:hover {
	background-color: var(--accent-hover-color);
	transition: background-color 0.3s;
}

.first__bottom {
	position: absolute;
	left: 50%;
	transform: translateX( -50%);
	bottom: 0;
	width: calc(100% - 60px);
	display: flex;
	align-items: flex-end;
}

.search-form {
	flex-shrink: 0;
	width: 68%;
	position: relative;
	overflow: hidden;
	border-top-left-radius: 4px;
	height: 120px;

}

.search-form__field {
	border: none;
	background-color: #fff;
	width: 100%;
	height: 100%;
	color: var(--dark-color);
	padding-right: 142px;
	padding-left: 56px;
}

.search-form__button {
	width: 18px;
	height: 18px;
	background-image: url(../../img/search.svg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	right: 62px;
	top: 50%;
	transform: translateY( -50%);
}

.main-slider {
	overflow: hidden;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-size: 0;
}

.main-slider__text {
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--neptune-color);
	text-transform: uppercase;
	color: var(--white-color);
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	letter-spacing: 2.18182px;
}

.first__slider-btn {
	position: absolute;
	left: 50px;
	bottom: 53px;
	width: 14px;
	height: 14px;
	z-index: 50;
}

.btn-right {
	left: auto;
	right: 50px;
	background-image: url(../../img/arrow-right.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.btn-left {
	left: 50px;
	right: auto;
	background-image: url(../../img/arrow-left.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.main-slider__media {
	position: relative;
	max-height: 280px;
}

.main-slider__play {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 32px;
	height: 41px;
	background-image: url(../../img/play-2.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 50;
}

@media (max-height: 1079px) {
	.first__container {
		padding: 120px 30px;
	}
}

@media (max-height: 880px) {
	.first__container {
		padding: 100px 30px;
	}

	.first__link {
		margin-bottom: 30px;
	}

	.first__title {
		font-size: 60px;
		line-height: 60px;
	}
}

@media (max-height: 700px) {
	.search-form {
		height: 80px;
	}

	.main-slider__text {
		height: 80px;
	}

	.first__title {
		font-size: 50px;
		line-height: 50px;
		margin-bottom: 25px;
	}

	.first__descr {
		font-size: 12px;
		margin-bottom: 30px;
	}

	.first__btn {
		padding: 25px 40px;
	}
}


